html {
    margin: 0;
    background:rgba(34, 28, 49, 1);
    scroll-behavior: smooth;
    scroll-padding-top: 4em;
}

body {
    margin: 0;
    font-family: "Lato", serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: rgba(115, 221, 214, 1);
}

/* ===========
Typography 
============*/

/* Color Palette:
$light brown: rgba(205, 176, 113, 1);
$light green: rgba(120, 165, 135, 1);
$dark blue: rgba(21, 30, 66, 1);
$grey-blue: rgba(39, 82, 107, 1);
$aqua: rgba(115, 221, 214, 1);
dark-purple rgba (34, 28, 49, 1) 

$space-cadet: rgba(29, 33, 64, 1);
$dark-cyan: rgba(44, 138, 138, 1);
$tea-green: rgba(208, 230, 181, 1);
$celeste: rgba(161, 244, 249, 1);*/

h1,
h2,
h3,
h4 {
    color: rgba(205, 176, 113, 1);
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-family: "Playwrite AU SA", serif;
    font-weight: 400;
    padding-top: 0.5em;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 700;
}

h4 {
    font-style: italic;
    font-size: 1rem;
}

.h3-sidebar {
    color: rgba(115, 221, 214, 1);
    margin: 0;
    margin-bottom: 1em;
}

.p-sidebar {
    color: rgba(205, 176, 113, 1);
    margin: 0;
}


/* =========
Layout
============= */


/* =====Nav Menu===== */
    nav {
        background-color: rgba(34, 28, 49, 1);
        margin: 0;
        padding: 0;
        width: 100%;
        top: 0;
        z-index: 1;
        position: sticky;
        border-bottom: solid 3px rgba(205, 176, 113, 1);
    }

    nav ul {
        list-style: none;
        padding: 1em 0;
        margin: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu-item {
        margin: 1em;
        text-decoration: none;
        color: rgba(115, 221, 214, 1);
    }

    .nav-menu-item:focus, .nav-menu-item:hover {
        color: rgba(205, 176, 113, 1);
        font-weight: 600;
    }

    .connect-logo {
        min-width: 20px;
        max-width: 75px;
    } /* /==== end Nav Menu */

.header-image {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    border-top: solid 3px rgba(205, 176, 113, 1);
    border-bottom: solid 6px rgba(205, 176, 113, 1);
    margin-bottom: 2em;
}



/* =======main grid layout===== */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0 70% 27% 0;
    grid-template-areas: 
        " . about sidebar . "
        " . experience sidebar . "
        " . skills sidebar . "
        " . projects sidebar . "
        " . connect sidebar . ";
    grid-gap: 1em 1em;
}

.grid-item {
    margin-bottom: 2em;
}

.grid-about {
    grid-area: about;
    max-height: 200px;
}

.grid-experience {
    grid-area: experience;
}

    /* Flex Layout for Experience Section */
    .experience-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .experience-block {
        max-width: 325px;
        display: flex;
        flex-wrap: wrap;
        margin: 0.7em;
        padding: 1.5em 2em;
        background: rgba(115, 221, 214, 0.1);
    }

    .date-title {
        text-align: left;
        margin-bottom: 1em;
    }

    .experience-title {
        margin: 0;
        margin-bottom: 0.2em;
    }

    .experience-date {
        margin: 0;
    }

    .job-description {
        max-width: 300px;
        margin: 0;
        /* border: solid red 2px; */
    } /* / end flex layout for Experience section */

.grid-skills {
    grid-area: skills;
}

.grid-projects {
    grid-area: projects;
}

.grid-connect {
    grid-area: connect;
}

/* Flex layout for sidebar */
    .sidebar {
        grid-area: sidebar;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        margin: 1.5em 1.5em 1em 0.5em;
    }

    .gis-info, .survey-container {
        background:rgba(205, 176, 113, 0.15);
        margin-bottom: 2em;
        padding: 1.5em;
    }


/* ===================
Media Queries (largest to smallest screen size)
====================== */

/* Tablet */
@media (max-width: 900px) {
    html {
        scroll-behavior: auto;
    }
    
    h1 {
        padding: 0;
        margin-bottom: -0.3em;
    }

    nav ul {
        padding: 1em;
    }
    
    nav {
        border-bottom: solid 2px rgba(205, 176, 113, 1);
    }

    .header-image {
        border-top: solid 2px rgba(205, 176, 113, 1);
        border-bottom: solid 4px rgba(205, 176, 113, 1);
    }
    
    .container {
        grid-template-columns: 0em auto 0em;
        grid-template-areas: 
            " . about . "
            " . sidebar . "
            " . experience . "
            " . skills . "
            " . projects . "
            " . connect . ";
    }

/* Phone */
@media (max-width: 600px) {
    html {
        scroll-padding-top: 10em;
    }
    
    h1 {
        font-size: 1.5rem;
        padding-top: 0.3em;
    }
    
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 0.2em;
    }
    
    .header-image {
        border-top: 1px solid rgba(205, 176, 113, 1);
        border-bottom: solid 2px rgba(205, 176, 113, 1);
    }
}

}