/* Website designed for laptop/desktop users, and media queries are used for smaller devices */

/* color palette

SCSS RGB
$space-cadet: rgba(28, 44, 78, 1);
$dark-purple: rgba(34, 28, 49, 1);
$prussian-blue: rgba(41, 56, 81, 1);
$golden-brown: rgba(165, 119, 43, 1);
$tiffany-blue: rgba(115, 221, 214, 1);  */

/*-------- Typography & Background Styles ----------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 2em;
}

body {
    font-size: 1em;
    color: rgba(34, 28, 49, 1);
    font-family: "Noto Sans", serif;
    margin: 0;
}

h1, h2, h3, h4, p, ul, li {
    margin: 0;
}

h1 {
    font-family: "Patrick Hand SC", serif;
    text-align: center;
    color: rgba(34, 28, 49, 1);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.2em;
    font-size: 3em;
}

h2 {
    color:#1b255e;
    font-weight: 700;
    text-shadow: 0 0 0.2em whitesmoke;
}

h3 {
    font-weight: 700;
}

p {
    background-color: rgb(255, 255, 255, 0.8);
    color: rgba(34, 28, 49, 1);
    padding: 1em;
}

ul {
    padding: 1em;
}

li {
    font-size: 0.9em;
    padding-left: 1.5em;
}

/*----------- Navigation Menu------------ */

    .nav-menu {
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: rgba(115, 221, 214, 1);
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .nav-menu ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }

    .nav-menu-item {
        color:rgba(34, 28, 49, 1);
        padding: 1em;
        text-align: center;
        text-decoration: none;
        margin: 0em;
        float:left;
        font-weight: 700;
    }

    /* nav items change color when hovering over */
    .nav-menu-item:focus, .nav-menu-item:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: rgb(139, 100, 38);
    }

/* ----------- About & Energy Survey Section---------- */
    #about {
        padding: 1.5em;
        margin: 0;
        margin-bottom: 1.5em;
    }

    .about-container {
        border:none;
    }

    .about-summary {
        border: none;
    }

    .energy-survey {
        text-align: center;
        margin: 2em;
        color: rgb(0, 0, 0);
        background-color: rgba(115, 221, 214, 0.8);
        border: none;
        padding: 1em;
        overflow-x: hidden;
    }


/*-------------- Experience section ------------*/
    #experience {
        padding: 1em;
        margin-bottom: 1.5em;
    }

    .experience-container {

        display: flex;
        flex-wrap: wrap;
    }
 
    .experience-block {
        background-color: rgba(255, 255, 255, 0.7);
        color: rgba(34, 28, 49, 1);
        max-width: 550px;
        margin: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .date-title {
        text-align: center;
        max-width: 200px;
        border: solid magenta 2px;
        margin: 0;
        padding: 1em;
    }

    .job-description {
        max-width: 300px;
        margin: 1em;
        padding: 1em;
    }


/*--------Skills Section--------*/

#skills {
    padding: 1.5em;
    margin-bottom: 1.5em;
}

/*-----------Projects Sections----------*/
#projects {
    padding: 1.5em;
    margin-bottom: 1.5em;
}

/* ------------ Connect Section ----------*/

    #connect {
        padding: 1.5em;
        margin-bottom: 1.5em;
    }

    .connect-container {
        display: flex;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .connect-logo {
        max-width: 40px;
        margin: 0.5em;
    }

    footer {
        background: none;
        text-align: center;
    }

    .author {
        background: none;
        color: rgba(34, 28, 49, 1);
        text-shadow: 0 0 0.2em white;
        font-size: 0.8em;
    }

/* ---Media Queries for Responsive Design (largest to smallest)---- */

/* tablets */
@media (max-width: 1000px) {
    html {
        scroll-behavior: auto;
        scroll-padding-top: 4em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        color: rgba(34, 28, 49, 1);
        font-size: 1.5em;
    }

    ul {
        padding: 0.5em;
    }

    .experience-container {
        justify-content: center;
        padding: 0.5em;
    }

    .energy-survey {
        margin: 1em;
        padding: 0.5em;
    }
}

/* mobile devices */
@media (max-width: 500px) {
    html {
        scroll-behavior: auto;
        scroll-padding-top: 6em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        color: rgba(34, 28, 49, 1);
        font-size: 1.5em;
    }

    ul {
        padding: 0.5em;
    }

    .experience-container {
        justify-content: center;
        padding: 0.5em;
    }

    .energy-survey {
        margin: 1em;
        padding: 0.5em;
    }
}


